html, body {
	height: 100%;
	padding-top: 60px; 
	font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 600;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #585858;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

/* texts */

.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
	color: #fff;
}

/* Buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 167px;
	padding: 18px 47px 14px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #f51167;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-white {
	background: #fff;
	color: #111111;
}

.site-btn.sb-line {
	background: transparent;
	color: #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}

.site-btn.sb-dark {
	background: #413a3a;
}

.site-btn.sb-dark.sb-line {
	background-color: transparent;
	color: #111111;
	-webkit-box-shadow: inset 0 0 0 1px #111111;
	box-shadow: inset 0 0 0 1px #111111;
}

/*  Pages Info */

.page-top-info {
	background: #f8f7f7;
	padding: 60px 0 70px;
}

.page-top-info h4 {
	color: #414141;
	font-weight: 700;
	text-transform: uppercase;
}

.site-pagination {
	font-size: 14px;
	font-weight: 600;
	color: #414141;
}

.site-pagination a {
	display: inline-block;
	font-size: 14px;
	color: #414141;
}

/* Header section */

.header-section {
	position: fixed; 
	top: 0;
	z-index:20; 
	width: 100%;
	overflow: auto;
	background-color: #fff;
}

.header-top {
	padding: 18px 0 14px;
}

.main-navbar {
	background: #282828;
}

.main-menu {	
	list-style: none;
}

.slicknav_menu {
	display: none;
}
.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 50px;
	line-height: 1;
	padding: 17px 0;
	position: relative;
}

.main-menu li:hover>a {
	color: #f51167;
}


/* Home section */

.home-section {
	padding-bottom: 54px;
}

.home-padding {
	padding-top: 260px;
	padding-bottom: 260px;
}

/* product section */

.product-section {
	padding-top: 70px;
	padding-bottom: 60px;
}

.product-section .section-title {
	margin-bottom: 70px;
}

.product-slider .owl-nav {
	position: absolute;
	top: calc(50% - 60px);
	width: 100%;
	left: 0;
}

.product-slider .owl-nav button.owl-next, .product-slider .owl-nav button.owl-prev {
	color: #a4a4a4;
	font-size: 42px;
	position: relative;
}

.product-slider .owl-nav button.owl-next {
	float: right;
	right: -92px;
}

.product-slider .owl-nav button.owl-prev {
	float: left;
	left: -92px;
}

.product-item .pi-pic {
	position: relative;
	display: block;
}

.product-item .tag-new, .product-item .tag-sale {
	position: absolute;
	right: 16px;
	top: 14px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	background: #50e550;
	line-height: 1;
	text-transform: uppercase;
	padding: 5px 9px 1px;
	border-radius: 15px;
	width: 42px;
}

.product-item .tag-sale {
	text-align: center;
	padding: 5px 0px 1px;
	min-width: 65px;
	background: #f51167;
}

.product-item .pi-links {
	width: 100%;
	position: absolute;
	right: 0;
	bottom: 18px;
	z-index: 9;
	padding-right: 15px;
	text-align: right;
}

.product-item .pi-links a {
	display: inline-table;
	width: 36px;
	height: 36px;
	background: #fff;
	border-radius: 60px;
	font-size: 18px;
	line-height: 18px;
	padding-top: 9px;
	overflow: hidden;
	color: #000;
	position: relative;
	-webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	text-align: center;
}

.product-item .pi-links a i {
	display: inline-block;
	color: #000;
}

.product-item .pi-links a.add-card {
	padding-top: 8px;
}

.product-item .pi-links a.add-card span {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 19px;
	top: 20px;
	opacity: 0;
}

.product-item .pi-links a.add-card:hover {
	width: 148px;
	padding: 8px 18px 0;
	text-align: left;
}

.product-item .pi-links a.add-card:hover span {
	opacity: 1;
	top: 10px;
	-webkit-transition: all 0.4s ease 0.3s;
	-o-transition: all 0.4s ease 0.3s;
	transition: all 0.4s ease 0.3s;
}

.product-item .pi-text {
	padding-top: 22px;
	height: 87px;
}

.product-item .pi-text h6 {
	float: right;
	padding-left: 40px;
	overflow: hidden;
	font-weight: 700;
	color: #111111;
}

.product-item .pi-text p {
	font-size: 16px;
	color: #111111;
	margin-bottom: 0;
}

/* Product filter section */

.product-filter-section {
	padding-bottom: 60px;
}

.product-filter-section .section-title {
	margin-top: 70px;
	margin-bottom: 70px;
}

.product-filter-menu {
	list-style: none;
	margin: 0 -10px;
	padding-bottom: 15px;
}

.product-filter-menu li {
	margin: 0 10px 10px;
	display: inline-block;
}

.product-filter-menu li a {
	color: #111111;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background: #ebebeb;
	display: block;
	width: 100%;
	padding: 10px 34px;
	border-radius: 31px;
}

/* Footer section */

.footer-section {
	background: #282828;
	padding-top: 60px;
}

.footer-title h2 {
	padding-bottom: 60px;
	color: #fff;
	
}

.footer-widget {
	margin-bottom: 70px;
	overflow: hidden;
}

.footer-widget h2 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 45px;
}

.footer-widget p {
	color: #8f8f8f;
}

.footer-widget.about-widget p {
	margin-bottom: 50px;
	letter-spacing: -0.01em;
}

.footer-widget ul {
	list-style: none;
	float: left;
	margin-right: 37px;
}

.footer-widget ul li a {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	font-size: 14px;
	color: #8f8f8f;
	margin-bottom: 6px;
}

.footer-widget ul li a:after {
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	left: 0;
	top: 8px;
	border: 1px solid #ec105a;
	border-radius: 50%;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.footer-widget ul li a:hover {
	color: #fff;
}

.footer-widget ul li a:hover:after {
	width: 7px;
	height: 7px;
	top: 6px;
	background: #ec105a;
}

.contact-widget .con-info span {
	float: left;
	color: #f51167;
	margin-right: 15px;
	overflow: hidden;
}

.social-links-warp {
	border-top: 2px solid #3b3535;
	padding: 46px 0;
}

.social-links a {
	margin-right: 60px;
	display: inline-block;
}

.social-links a i {
	font-size: 30px;
	color: #d7d7d7;
	float: left;
	margin-right: 19px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a span {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #9f9fa0;
	padding-top: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.social-links a.instagram:hover i {
	color: #2F5D84;
}

.social-links a.facebook:hover i {
	color: #39599F;
}

.social-links a:hover span {
	color: #fff;
}


/* Contact Page */

.contact-section {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
}

.contact-info h3 {
	margin-bottom: 50px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 44px;
	border: none;
	padding: 0 18px;
	background: #f0f0f0;
	border-radius: 40px;
	margin-bottom: 17px;
	font-size: 14px;
}

.contact-form textarea {
	padding-top: 16px;
	border-radius: 18px;
	height: 175px;
	margin-bottom: 32px;
}

.map {
	position: absolute;
	width: calc(50% - 15px);
	height: 100%;
	right: 0;
	top: 0;
	background: #ddd;
}

.map iframe {
	width: 100%;
	height: 100%;
}